* {
    box-sizing: border-box;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    align-self: center;
}
.nav-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
li {
    background: lightgray;
    padding: 10px;
    margin: 5px;
}